/*  your css code here. If applicable */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    padding-top: 50px;
}

#grid-container {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    margin-bottom: 20px;
}

.grid-item {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    background-color: transparent;
}

.controls {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 200px;
}
